<form method="post" action="{{ path('seance_delete', {'id': seance.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette séance?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
    <button class="btn btn-danger mr-2">Supprimer</button>
</form>
