<form method="post" action="{{ path('machine_delete', {'id': machine.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette machine ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>
