{% extends 'base.html.twig' %}

{% block title %}Nouvel abonnement{% endblock %}

 {% block menu %}

     {% import 'macro/macroMenu.html.twig' as macroMenu %}
     {{ macroMenu.menu('Abdo en acier', 9) }}

 {% endblock %}


{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}
    <h1>Creation d'un nouvel abonnement</h1>

    {{ include('abonnementAdmin/_form.html.twig') }}

    <a href="{{ path('abonnementAdmin_index') }}">Retour à la liste</a>
{% endblock %}
