{% macro headerUser(test ="") %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"> Bienvenue {{ app.user.prenomUtilisateur }} !</br><img class="mt-3" src="{{ app.user.logo }}" width="80px" alt="profile"/></div>
            {%  if is_granted('ROLE_ADMIN') %}
                Dash Admin
            {%  elseif is_granted('ROLE_USER') %}
            <a class="btn btn-primary btn-xl text-uppercase" href="/seance/new">Débuter une séance</a>
            {% endif %}

        </div>
    </div>
</header>
{% endmacro%}